body, html {
    background-color: #f9f9f9;
    color: #463F30;

    font-family: 'Lora', sans-serif;
    font-size: 16px;
    line-height: 1.75;
}

.main-content {
    background-color: #FDFDFD;
    border: 1px solid #ccc;
    border-radius: 9px;
    min-height: 500px;
    padding: 25px 30px;
}

p {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #5D8A4E;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 0.5em;
}

a {
    color: #4B771F;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #669856;
    font-size: 1.5em;
}

.header {
    margin-top: 20px;
}

.header h1 {
    color: #4E7441;
    font-size: 2.5em;

}